@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/* ◆ ボディ                                     */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
.all_content {
  background: #ECF1F6;
}

ul,
li {
  list-style: none;
}

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/* ◆ サイドバー                                 */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/* サイドバー */
.sidebar {
  width: 150px;
  /*min-width: 150px;*/
  height: 100vh;
  background-color: #03AAD2;
  font-weight: bold;
}

/* コンテンツ描画エリア */
.main-container {
  width: 100%;
}

/* サイドバーのリンクテキスト */
.sidebar p a {
  color: #FFF;
}

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/* ◆ トップページ                               */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/* ユーザ情報表エリア */
.user_status {
  border-radius: 10px;
  background: #FFF;
}

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/* ◆ スクール予約関連                           */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/* 当月以外の日付の背景色 */
.day-blank {
  background: #D3D3D3;
}

/* 土曜日の背景色 */
.day-sat {
  color: #0000FF;
}

/* 日曜日の背景色 */
.day-sun {
  color: #FF0000;
}

/* 過去日の背景色 */
.past-day {
  background: #EEE;
}

/* スクール予約画面の過去日付のテキスト */
.calendar_past_text {
  font-size: 12px;
  color: #777;
}

/* スクール予約画面のtd(日毎のセル) */
.calendar-td {
  min-width: 100px;
}





/* 予約確認画面の各パートの予約者数の表示要素 */
.day_part {
  color: #494949;
  font-size: 12px;
}

/* 予約確認画面のパートと予約者数のflex */
.part_flex {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

/* 予約確認画面の予約者数のテキスト */
.day_part_usercount {
  color: black;
  font-size: 12px;
}





/* 予約確認詳細画面のテーブルflex */
.table-row-flex {
  display: flex;
}

/* 予約確認詳細画面のIDカラム */
.table-id {
  flex-basis: 20%;
}

/* 予約確認詳細画面の名前カラム */
.table-name {
  flex-basis: 45%;
}

/* 予約確認詳細画面の場所カラム */
.table-place {
  flex-basis: 35%;
}





/* スクール枠登録画面のテーブル要素 */
.adjust-table {
  width: 70% !important;
}

/* 上記のテーブルセル */
.adjust-table td {
  padding: 0 !important;
}

/* スクール枠登録画面の入力エリア(各日付/各パートごとのlimit_usersの入力と表示が為されているエリア)のpタグ */
.adjust-area p {
  justify-content: space-around;
}

/* スクール枠登録ビューファイルに記述されているスクール枠上限登録ボタン */
.adjust-table-btn {
  width: 70%;
}

/* スクール予約削除モーダル内の閉じるボタンと編集ボタンを包括する要素 */
.delete-modal-btn {
  justify-content: space-between;
}

/* 予約削除モーダルにおけるテキスト */
span.delete_modal_text {
  display: inline-block;
  margin-bottom: 18px;
}

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/* ◆ モーダル共通                               */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

/* モーダル背景 */
.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

/* モーダルコンテンツ総合 */
.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/* ◆ 掲示板                                     */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/* main_categories要素へのjsで$('.category_num' + category_id).slideToggle();が指定されている為displayがnone表示となっている */
.sub_categories {
  display: none;
}

/* 投稿画面の左側エリア */
.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

/* 投稿画面の左側エリアのテキストエリア */
.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

/* 投稿詳細エリアのコンテナ */
.detail_container {
  background: #FFF;
}

/* 掲示板トップの投稿一覧表示エリア */
.post_area {
  background: #FFF;
  border-radius: 10px;
}

/* 掲示板トップの各投稿のアイコンエリア */
.post_bottom_area {
  justify-content: space-between;
}

/* 投稿一覧表示エリアのアイコンエリアflex(HTMLタグにてd-flexの指定あり) */
.post_status span {
  font-size: 12px;
}

/* いいねボタン */
.like_btn,
.un_like_btn {
  cursor: pointer;
}

/* いいね取り消しボタン */
.un_like,
.un_like_btn {
  color: #E2254D;
}

/* 投稿作成エリアでのバリデーションエラーメッセージ要素 */
.error_message {
  font-size: 12px;
  color: red;
}

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/* ◆ カテゴリー追加関連                         */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/* カテゴリ追加ボックスのメインカテゴリー箇所(上部分) */
.main_category_addbox {
  margin-bottom: 50px;
}

/* 投稿一覧画面における"いいねした投稿"と"自分の投稿"類のボタン */
.category_allow_click {
  cursor: pointer;
}

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/* ◆ 掲示板詳細画面                             */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/* 投稿詳細画面におけるユーザ名の表示要素を包括する要素 */
.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.post_detail_area {
  justify-content: space-between;
}

/* 投稿詳細画面における投稿タイトル */
.detsail_post_title {
  font-size: 14px;
}

/* 投稿詳細画面における投稿内容 */
.detsail_post {
  font-size: 12px;
  color: #9E9E9E;
}

/* 編集/削除ボタンを包括する要素 */
.detail_inner_head {
  display: flex;
  justify-content: space-between;
}

/* 編集ボタン */
.edit-modal-open {
  cursor: pointer;
}

/* 編集モーダルの投稿内容入力エリア */
.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

/* 編集モーダル内の閉じるボタンと編集ボタンを包括する要素 */
.edit-modal-btn {
  justify-content: space-between;
}

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/* ◆ 掲示板 コメント                            */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/* 投稿詳細画面におけるコメントエリア(左側と右側共通) / 背景色 */
.comment_container {
  background: #FFF;
}

/* コメントが親要素のwidth限界に到達した際に折り返す */
.comment_area p {
  word-break: break-word;
}

/* コメントエリア(左側と右側共通) */
.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

/* コメント入力エリアのtextarea (画面右側のエリア) */
.comment_area textarea {
  height: 300px;
  resize: none;
}

/* 投稿詳細画面におけるコメントエリア内のspan */
.comment_container span {
  font-size: 12px;
}

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/* ◆ 掲示板 カテゴリー                          */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/* 投稿作成エリアのカテゴリー追加エリア (画面右側) */
.category_area {
  background: #FFF;
  border-radius: 10px;
}

/* 投稿作成エリアのメインカテゴリーのセレクトボックス？ */
.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

/* 投稿一覧表示エリアの"いいねした投稿"や"自分の投稿"のボタン要素 */
.category_btn {
  font-size: 12px;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  background: #999;
  color: #FFF;
}

/* 投稿一覧表示エリアの右側エリアにおけるメインカテゴリとサブカテゴリのテキスト表示 */
.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
}

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/* ◆ ユーザ検索                                 */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/* ユーザ情報一覧表示エリア */
.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 10px auto;
  height: 80vh;
  overflow: scroll;
  padding: 10px;
  background: #FFF;
  border-radius: 5px;
}

/* ユーザ情報一覧表示エリアのテキスト表示 */
.reserve_users_area span {
  font-size: 12px;
}

/* ユーザ単体要素 */
.one_person {
  width: 250px;
  height: 250px;
}

/* 検索条件の追加にカーソルを合わせた際の指定 */
.search_conditions span {
  cursor: pointer;
}

/* 検索条件の追加の子要素 | user_searchのjsにてSlideToggle指定あり */
.search_conditions_inner {
  display: none;
  background: #FFF;
}

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/* ◆ ユーザ情報詳細画面                          */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/* ユーザ情報詳細画面の選択科目の編集ボタン */
.subject_edit_btn {
  font-size: 12px;
  color: #0000FF;
  cursor: pointer;
}

/* 選択科目の編集ボタンに紐づく科目を包括する要素 */
.subject_inner {
  display: none;
}
